body{
  margin: 0;

}

#header{
  background-color: #10a853;

  overflow:hidden;
}



#login{
  margin-right: 2em;
  margin-top:0.5em;
  float:right;
}

#login a{
  color: black;
}

#search {
  float:right;
  margin-right: 2em;
  margin-top:1.5em;
}

#logged{
  float:right;
  margin-right: 2em;
  margin-top:1em;
}

.userValidInfo{
  float: right;
}
